.direct-messaging_header {
  padding-left: 15px;
  height: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  background: white;

  .direct-messaging_header_title {
    font-weight: 1000;
  }
}
.direct-messaging_searchbar {
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid gray;
  background: white;
  vertical-align: middle;

  .searchbar_input {
    width: 100%;
    border: none;
    margin-right: 8px;
  }
}

.direct-messaging_main {
  height: 40rem;
  background: #f8f8f8;

  .direct-messaging_date1 {
    top: 1px;
    font-size: 13px;

    .date {
      padding: 24px 0 12px 16px;
      margin: 0 15px;
      font-weight: 700;
    }
  }

  .direct-messaging_data {
    top: 55px;

    width: 100%;

    i {
      font-size: 5rem;
    }

    .messaging-button_time {
      display: flex;
      //   flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      align-self: stretch;

      div {
        margin-left: auto;
      }
    }

    .messaging-button_content {
      align-items: center;
      margin-left: 1rem;
      margin-top: 20px;
      //   flex: 1;
      .username {
        font-weight: 700;
        margin-bottom: 1rem;
      }
    }

    button {
      width: 80%;
      background: white;
      padding: 12px 16px;
      margin: 0 16px;
      display: flex;
      align-items: flex-start;
    }
  }
}
