<div class="direct-messaging_header">
  <div class="direct-messaging_header_title">All direct Messages</div>
</div>
<div class="direct-messaging_searchbar">
  <span class="direct-messaging_searchbar_to">To:</span>
  <div class="direct-messaging_searchbar_input">
    <input
      type="text"
      placeholder="Type the name of the person"
      class="searchbar_input"
    />
  </div>
</div>
<div class="direct-messaging_main">
  <div class="direct-messaging_date1">
    <div class="date">Yesterday</div>
  </div>
  <div class="direct-messaging_data">
    <button>
      <div>
        <i class="fa fa-user"></i>
      </div>
      <div class="messaging-button_content">
        <div class="username">User 1</div>
        <div class="message">You: Hello</div>
      </div>
    </button>
  </div>
  <div class="direct-messaging_date1">
    <div class="date">Today</div>
  </div>
  <div class="direct-messaging_data">
    <button>
      <div>
        <i class="fa fa-user"></i>
      </div>
      <div class="messaging-button_content">
        <div class="username">User 2</div>
        <div class="message">You: Hello</div>
      </div>
    </button>
  </div>
  <div class="direct-messaging_date1">
    <div class="date">Today</div>
  </div>
  <div class="direct-messaging_data">
    <button>
      <div>
        <i class="fa fa-user"></i>
      </div>
      <div class="messaging-button_content">
        <div class="username">User 3</div>
        <div class="message">You: Hello</div>
      </div>
    </button>
  </div>
</div>
